COMPOSE_PROJECT_NAME=laravel-app
HOST_MACHINE_PORT=8084

HOST_MACHINE_MYSQL_PORT = 3320
HOST_MACHINE_PHPMYADMIN_PORT=8085

# MySQL root user password
MYSQL_ROOT_PASSWORD=rootpass

MYSQL_USER=docker
MYSQL_PASSWORD=docker
MYSQL_DATABASE=docker

MYSQL_INITDB_DIR=./.docker-data/config/initdb
MYSQL_CONF_DIR=./.docker-data/config/mysql
MYSQL_DATA_DIR=./.docker-data/data/mysql
MYSQL_LOG_DIR=./.docker-data/logs/mysql
MYSQL_LOG_DIR=./.docker-data/logs/mysql

# If you already has the port 6389 in use, you can change it (for example if you have Redis)
HOST_MACHINE_REDIS_PORT=6389